# Auto detect text files and perform LF normalization
* text=auto

# linguist vendor the path ./'Programming Language CS 496 (Ocaml)'/'Notes & Stub'/*
./'Programming Language CS 496 (Ocaml)'/'Notes & Stub'/* linguist-vendored
